.goalBlock {
    position: relative;
    display: block;
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    top: 0;
}

.goalBlockFlex {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.goalBlockTitle {
    color: black;
    font-weight: bolder;
    display: block;
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.goalBlockFlexItem {
    padding: 0 2px 0 2px;
    margin: 0;
    font-size: small;
    line-height: normal;
}

.goalBlockCriteriaContainer {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    color: black;
}

.goalBlockSuccessContainer {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    color: darkgreen;
}

.goalBlockFailureContainer {
    color: darkred;
}

.goalBlock p {
    margin: 0;
}

.goalBlock ul {
    margin: 0;
    padding-left: 25px;
    padding-right: 10px;
}
