#timelineContainer {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    height: auto;
}

.timelineRow {
    display: block;
    margin: 0;
    border-color: cadetblue;
    border-width: 1px 0 1px 0;
    border-style: solid;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.goalBlockOuterContainer {
    position: absolute;
}

.timelineVerticalLine {
    position: absolute;
    height: 100%;
    width: 0;
    border-color: cadetblue;
    border-width: 0 1px 0 0;
    border-style: solid;
    left: 0;
    top: 0;
}

.timelineTimeText {
    font-size: x-small;
    position: absolute;
    display: block;
    top: -30px;
}
